/**
 * @theme  antique watches
 * @version 1.0.1.
 * @framework Bootstrap - https://getbootstrap.com/
 * @naming B.E.M. - http://getbem.com/naming/
 * @author Mualim Adnan Krisztián
 */


/**
 * @theme antique watches
 * @section html
 */
html {}

/**
  * @theme antique watches
  * @section body
  */
body {
  max-width: 1400px;
  margin: auto;
}

/**
 Container-fluid
 */

.container-fluid a {
  text-decoration: none;
}

/**
 Form-control
 */

.form-control {
  border: 0;
  border-radius: 0;
}

.form-control:focus {
  outline: none;
  border-radius: 0;
}

/**
 Header elements 
 */

#header {
  padding: 0;
}

.header__container__navbar__navbar-toggler:focus {
  outline: 2px auto #4c3d38;
  border-radius: 0;
}

.header__container__box {
  background: #2d2822;
  height: 150px;
  padding: 0 70px;
  position: fixed;
  z-index: 10000;
  width: 100%;
  max-width: 1400px;
  transition: 0.5s;
}

/* header bottom shadow off */
.header__container__box.header__container__box__bottom-shadow-off {
  box-shadow: 0;
}

/* header bottom shadow on */

.header__container__box.header__container__box__bottom-shadow-on {
  box-shadow: 0px 15px 20px white;
}

.header__container__box__navbar {
  position: relative;
  top: 2.8em;
}

/* header bottom circle (style) */

.header__container__box__navbar--circle {
  text-align: center;
}

.header__container__box__navbar--circle ul {
  display: inline-block;
  list-style-type: none;
  padding: 0;
}

.header__container__box__navbar--circle li {
  float: left;
  margin-right: 30px;

}

.header__container__box__navbar--circle li:last-child,
.header__container__box__navbar--circle li:last-child {
  margin-right: 0;
}

.header__container__box__navbar--circle a {
  font-size: 25px;
  text-decoration: none;
  display: inline-block;
  position: relative;
  color: white;
  font-family: 'Shadows Into Light Two', cursive;
  /* font-family: 'Indie Flower', cursive; */
}

.header__container__box__navbar--circle a:before,
.header__container__box__navbar--circle a:after {
  content: " ";
  position: absolute;
  display: inline-block;
  width: 110px;
  height: 110px;
  top: 50%;
  left: 50%;
  margin-top: -55px;
  margin-left: -55px;
  border-radius: 50%;
  border: 2px solid #8d6e46;
  opacity: 0;
  transition: all 2s ease;
}

.header__container__box__navbar--circle a:before {
  -webkit-transform: rotateX(0deg) rotateY(90deg) rotateZ(0deg);
  -moz-transform: rotateX(0deg) rotateY(90deg) rotateZ(0deg);
  transform: rotateX(0deg) rotateY(90deg) rotateZ(0deg);
  opacity: 0;
  /* -webkit-transform: rotate3d(1, 1, 0, 270deg);*/

}

.header__container__box__navbar--circle a:after {
  -webkit-transform: rotateX(0deg) rotateY(-90deg) rotateZ(0deg);
  -moz-transform: rotateX(0deg) rotateY(-90deg) rotateZ(0deg);
  transform: rotateX(0deg) rotateY(-90deg) rotateZ(0deg);
  /* -webkit-transform: rotate3d(0, 1, 0, -270deg);*/
}



.header__container__box__navbar--circle a:hover:before {
  -webkit-transform: rotateX(360deg) rotateY(0deg) rotateZ(-180deg);
  -moz-transform: rotateX(360deg) rotateY(0deg) rotateZ(-180deg);
  transform: rotateX(360deg) rotateY(0deg) rotateZ(-180deg);
  opacity: 1;
  transition: all 1s ease;
  /* -webkit-transform: rotate3d(0, 0, 0, 0deg); */

}

.header__container__box__navbar--circle a:hover:after {
  -webkit-transform: rotateX(360deg) rotateY(0deg) rotateZ(-180deg);
  -moz-transform: rotateX(360deg) rotateY(0deg) rotateZ(-180deg);
  transform: rotateX(360deg) rotateY(0deg) rotateZ(-180deg);
  transition: all 1.5s ease;
  opacity: 1;
  /* -webkit-transform: rotate3d(0, 0, 0, 0deg); */
}

/**
 Navbar elements 
 */

.header__container__main__navbar__navbar-toggler {
  position: relative;
}

.header__container__navbar__nav__elem__link {
  padding: 10px 30px;
  color: white;
}

/**
 Carousel elements 
 */

.carousel {
  position: relative;
  top: 9em;
}

.carousel a {
  text-decoration: none;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

.carousel-item {
  height: 550px;
  background-position: center;
  background-image: url('../../../../images/content/carousel/DSCN5615.JPG');
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel-caption a:hover {
  color: #8d6e46;
  background-color: white;
}


.carousel__caption__login__content {
  position: relative;
  bottom: 280px;
}

.carousel__caption__login__content__elem__link {
  width: 200px;
  height: 50px;
  background: darkblue;
  margin-bottom: 20px;
  background-color: #8d6e46;
  color: white;
  padding-top: 12px;
  font-size: 20px;
  font-family: 'Indie Flower', cursive;
}

.carousel__caption__login__content__elem__link--registration-button {
  background-color: rgba(0, 0, 0, 0.5);
}

.carousel-caption .input-group {
  position: relative;
  bottom: 210px;
}

.carousel-caption .form-control {
  background-color: rgba(255, 255, 255, 0.5);
  height: 55px;
}

.btn-search {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0;
  color: #fff;
  height: 55px;
}

.btn-search:link,
.btn-search:visited {
  color: #fff;
}

.btn-search:active,
.btn-search:hover {
  background: #4c3d38;
  color: #fff;
}

.fa-search {
  font-size: 40px;
}

.carousel-indicators li {
  width: 5px;
  padding: 3px;
  border-radius: 50%;
}

.carousel-indicators .active {
  background-color: #8d6e46;
}

/**
 Photo gallery
 */
#photo-gallery {
  padding: 0;
}

.photo-gallery__container {
  background-color: #4c3d38;
  height: 500px;
  position: relative;
  top: 9em;
  text-align: center;
  padding: 0 100px;
}

.photo-gallery__container__brand {
  position: relative;
  top: 4em;
}

.photo-gallery__container__navigation__part {
  position: relative;
  top: 6em;
}

.photo-gallery__container__navigation__part h3 {
  position: relative;
  bottom: 10px;
  color: white;
  padding: 30px;
  font-family: 'Cinzel Decorative', cursive;
}


.photo-gallery__container__navigation__part__content__div {
  margin-right: 30px;
  border-bottom: 2px solid black;
}

.photo-gallery__container__navigation__part__content__div:hover {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 25px 0 rgba(0, 0, 0, 0.19);
}


.photo-gallery__container__navigation__part__content__div__link {
  position: relative;
  bottom: 20px;
}

.photo-gallery__container__navigation__part__content__div--margin-right-off {
  margin-right: 0;
}


/**
 References elements 
 */

#references {
  padding: 0;
}

.references__container__box {
  background: #ededed;
  position: relative;
  top: 9em;
  text-align: center;
  padding: 0 70px;
}

.references__container__box h1 {
  padding-top: 30px;
  font-family: 'Cinzel Decorative', cursive;
}

.references__container__box__content img {
  border-radius: 50%;
  margin: 20px 0;
}

/* footer  */

#footer {
  padding: 0;
}

.footer__container__content {
  width: 100%;
  max-width: 1400px;
  margin: auto;
  position: relative;
  top: 9em;
  height: 500px;
  background: #855f36;
  padding: 40px 70px;
}

.map {
  width: 100%;
  height: 100%;
}

.footer__container__content__relationship-content {
  text-align: center;
  color: white;
}


@media screen and (min-width: 480px) and (max-width: 990px) {

  /**
 Header elements 
 */
  .header__container__box {
    height: auto;
    padding: 0 10px;
  }

  .header__container__box__navbar {
    top: 0;
  }

  .header__container__main__navbar__navbar-toggler {
    top: 1em;
  }

  /**
 Carousel elements 
 */
  .carousel {
    bottom: 5px;
    top: 3em;
  }

  /**
 Photo gallery
 */
  .photo-gallery__container {
    padding: 0 30px;
    height: auto;
    top: 3em;
  }

  .photo-gallery__container__brand {
    top: 1.5em;
  }

  .photo-gallery__container__navigation__part {
    top: 0;
  }

  .photo-gallery__container__navigation__part__content__div {
    margin-right: 10px;
    margin-top: 50px;
    margin-bottom: 20px;
    border: 0;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 25px 0 rgba(0, 0, 0, 0.19);
  }

  /**
 References elements 
 */

  .references__container__box {
    top: 3em;
    padding: 0 30px;
  }

  .footer__container__content {
    top: 3em;
    padding: 40px 30px;
  }

}

@media screen and (max-width: 480px) {

  /**
 Header elements 
 */
  .header__container__box {
    height: auto;
    padding: 0 10px;
    position: fixed;
  }

  .header__container__box__navbar {
    top: 0;
  }

  .header__container__main__navbar__navbar-toggler {
    top: 1em;
  }

  /**
 Carousel elements 
 */
  .carousel {
    top: 0em;
  }

  .carousel-item {
    height: 350px;
  }

  .carousel__caption__login__content {
    bottom: 40px;
  }

  .carousel-caption .input-group {
    position: relative;
    bottom: 30px;
  }

  /**
 Photo gallery
 */
  .photo-gallery__container {
    padding: 0 30px;
    height: auto;
    top: -1em;
  }

  .photo-gallery__container__brand {
    top: 1.5em;
  }

  .photo-gallery__container__navigation__part {
    top: 0;
  }

  .photo-gallery__container__navigation__part__content__div--margin-top-on {
    margin-top: 50px;
  }

  .photo-gallery__container__navigation__part__content__div {
    margin-right: 0px;
    margin-bottom: 50px;
    border: 0;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 25px 0 rgba(0, 0, 0, 0.19);
  }

  .references__container__box {
    top: -1em;
    padding: 0 30px;
  }

  .footer__container__content {
    top: -1em;
    padding: 40px 10px;
  }

}

