/**
 * @theme  antique watches
 * @version 1.0.1.
 * @framework Bootstrap - https://getbootstrap.com/
 * @naming B.E.M. - http://getbem.com/naming/
 * @author Mualim Adnan Krisztián
 */


/**
 * @theme antique watches
 * @section html
 */
html {}

/**
  * @theme antique watches
  * @section body
  */
body {
  max-width: 1400px;
  margin: auto;
}

/**
 Container-fluid
 */

.container-fluid a {
  text-decoration: none;
}

/**
 Form-control
 */

.form-control {
  border: 0;
  border-radius: 0;
}

.form-control:focus {
  outline: none;
  border-radius: 0;
}

/**
 Header elements 
 */

#header {
  padding: 0;
}

.header__container__navbar__navbar-toggler:focus {
  outline: 2px auto #4c3d38;
  border-radius: 0;
}

.header__container__box {
  background: #2d2822;
  height: 150px;
  padding: 0 70px;
  position: fixed;
  z-index: 10000;
  width: 100%;
  max-width: 1400px;
}

.header__container__box__navbar {
  position: relative;
  top: 2.8em;
}

/**
 Navbar elements 
 */

.header__container__main__navbar__navbar-toggler {
  position: relative;
}

.header__container__navbar__nav__elem__link {
  padding: 10px 30px;
  color: white;
}

.header__container__navbar__nav__elem__link:focus {
  border: 2px solid #8d6e46;
  border-radius: 5px;
}

.header__container__navbar__nav__elem__link:hover {
  color: #8d6e46;
}

/**
 Carousel elements 
 */

.carousel {
  position: relative;
  top: 9em;
}

.carousel a {
  text-decoration: none;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

.carousel-item {
  height: 550px;
  background-position: center;
  background-image: url('../../../../images/content/carousel/DSCN5583.JPG');
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel-caption a:hover {
  color: #8d6e46;
  background-color: white;
}


.carousel__caption__login__content {
  position: relative;
  bottom: 280px;
}

.carousel__caption__login__content__elem__link {
  width: 200px;
  height: 50px;
  background: darkblue;
  margin-bottom: 20px;
  background-color: #8d6e46;
  color: white;
  padding-top: 12px;
}

.carousel__caption__login__content__elem__link--registration-button {
  background-color: rgba(0, 0, 0, 0.5);
}

.carousel-caption .input-group {
  position: relative;
  bottom: 210px;
}

.carousel-caption .form-control {
  background-color: rgba(255, 255, 255, 0.5);
  height: 55px;
}

.btn-search {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0;
  color: #fff;
  height: 55px;
}

.btn-search:link,
.btn-search:visited {
  color: #fff;
}

.btn-search:active,
.btn-search:hover {
  background: #4c3d38;
  color: #fff;
}

.fa-search {
  font-size: 40px;
}

.carousel-indicators li {
  width: 5px;
  padding: 3px;
  border-radius: 50%;
}

.carousel-indicators .active {
  background-color: #8d6e46;
}

/**
 Photo gallery
 */
#photo-gallery {
  padding: 0;
}

.photo-gallery__container {
  background-color: #4c3d38;
  height: 500px;
  position: relative;
  top: 9em;
  text-align: center;
}


@media screen and (min-width: 480px) and (max-width: 990px) {

  /**
 Header elements 
 */
  .header__container__box {
    height: auto;
    padding: 0 10px;
  }

  .header__container__box__navbar {
    top: 0;
  }

  .header__container__main__navbar__navbar-toggler {
    top: 1em;
  }

  /**
 Carousel elements 
 */

  .carousel {
    bottom: 5px;
    top: 3em;
  }

}

@media screen and (max-width: 480px) {

  /**
 Header elements 
 */
  .header__container__box {
    height: auto;
    padding: 0 10px;
    position: relative;
  }

  .header__container__box__navbar {
    top: 0;
  }

  .header__container__main__navbar__navbar-toggler {
    top: 1em;
  }

  /**
 Carousel elements 
 */


  .carousel {
    top: -0.3em;
  }

  .carousel-item {
    height: 350px;
  }

  .carousel__caption__login__content {
    bottom: 105px;
  }

  .carousel-caption .input-group {
    position: relative;
    bottom: 110px;
  }

}